* text=auto eol=lf

*.bat            text eol=crlf
gradlew          text eol=lf
*.sh             text eol=lf

*.png            binary
*.jpg            binary
*.webp           binary
*.ttf            binary
*.otf            binary
*.jar            binary
*.aab            binary
*.apk            binary
